<h1>Editing course class</h1>

<%= render "form", course_class: @course_class %>

<br>

<div>
  <%= link_to "Show this course class", @course_class %> |
  <%= link_to "Back to course classes", course_classes_path %>
</div>
